#Restringir el acceso a los directorios
Options -Indexes

# Proteger archivos sensibles (Bloquear acceso directo a .sql, .env, .log)
<FilesMatch "\.(sql|env|log|md|git)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe físicamente, servirlo directamente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # De lo contrario, redirigir todo a index.php
    RewriteRule ^ index.php [L]
</IfModule>
